.container {
    display: flex;
    flex-direction: column;

    background-color: darkgray;
    height: 400px;
    color: white;
}

.r1 {
    background-color: red;
}

.r2 {
    background-color: blue;
}

.r3 {
    background-color: green;
}

.rect{
    width: 100px;
    height: 100px;
}